#wcb.carbonbadge {
    --b1: #0e11a8;
    --b2: #00ffbc;
    font-size: 15px;
    text-align: center;
    color: var(--b1);
    line-height: 1.15;
}

#wcb.carbonbadge sub {
    vertical-align: middle;
    position: relative;
    top: .3em;
    font-size: .7em;
}

#wcb #wcb_g,
#wcb #wcb_a,
#wcb #wcb_2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    line-height: 1.15;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-decoration: none;
    margin: .2em 0;
}

#wcb #wcb_g,
#wcb #wcb_a {
    padding: .3em .5em;
    border: .13em solid var(--b2);
}

#wcb #wcb_g {
    border-radius: .3em 0 0 .3em;
    background: #fff;
    border-right: 0;
    min-width: 8.2em;
}

#wcb #wcb_a {
    border-radius: 0 .3em .3em 0;
    border-left: 0;
    background: var(--b1);
    color: #fff;
    font-weight: 700;
    border-color: var(--b1);
}

.wcb-d #wcb_a {
    color: var(--b1);
    background: var(--b2);
    border-color: var(--b2);
}

.wcb-d #wcb_2 {
    color: #fff;
}
